#board {
    display: grid;
    grid-template-columns: 25% 60% 15%;
    border: 1px solid black;
    height: 930.44px;
    width: 980px;
    padding: 0px;
}

#right-col {
    background-color: aqua;
}

#left-col {
    display: grid;
    grid-template-rows: 20% 3% 15% 62%;
    background-color: beige;
}

#calendar {
    background-color: cornflowerblue;
}

#middle-col {
    display: grid;
    grid-template-rows: 10% 90%;
    border: 2px solid black;
    background-color: rgb(190, 190, 245);
}

.middle-middle-col {
    display: grid;
    grid-template-columns: 35% 40% 25%;
}

#page-header {
    background-color: darkolivegreen;
}

#search-input {
    width: 130px;
    height: 80%;
}

.post-list {
    text-align: center;
}

input {
    display: block;
    margin: 0 auto;
}
